@font-face {
    font-family: Lato;
    src: url(./assets/font/Lato-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Lato;
    src: url(./assets/font/Lato-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: Lato;
    src: url(./assets/font/Lato-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Lato;
    src: url(./assets/font/Lato-Regular.ttf);
    font-weight: 400;
}


* {
    margin: 0;
} 
body {
    font-family: "Lato";
}
.header {
    width: 1020px;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2d303a;
    border-bottom: 6px #323746 solid;
}
h1 {
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-weight: 700;
    font-stretch: condensed;
    text-align: left;
    letter-spacing: -0.5px;
    margin-left: 40px;
    margin-bottom: 1px;
    
}
h1::after {
    content: '*';
    color:  #f06c64;
}
.menu {
    margin-right: 40px;
    margin-top: 10px;
    display: flex;
    font-size: 12px;
    line-height: 6px;
    color: #494e62;
    font-weight: 600;
}
.menu li {
    margin-left: 28px;
    list-style-type: none;
}
.menu li a {
    text-decoration: none;
    color: #ffffff;
    letter-spacing: -0.25px;
}

.menu li:first-child a{
    color: #f06c64;
    
}
.menu li:not(:first-child)::before {
    content: '.';
    position: relative;
    right: 14px;
    bottom: 3px;
}
.menu li a:hover {
    cursor: pointer;
    color: green;
    text-decoration: underline;
}
.slider {
    width: 1020px;
    height: 594px;
    position: relative;
    display: flex;
    align-items: flex-start;
    background-color: #f06c64;
    border-bottom: 6px #ea676b solid;
}
.phone-vert {
    margin-left: 103px;
    margin-top: 51px;
}
.phone-hor {
    margin-top: 167px;
    margin-left: 48px;
}
.arrow {
    margin-top: 281px;
    position: absolute;
}
.arrow-right {
    right: 0;
    margin-right: 40px;
    transform: rotate(180deg);
}
.arrow-left {
    margin-left: 42px;
}
.arrow-left:hover {
    cursor: pointer;
    transform: scale(2);
}
.arrow-right:hover {
    cursor: pointer;
    transform: scale(2) rotate(180deg);
}
.service {
    width: 1020px;
    height: 495px;
    background-color: #f2f2f2;
    border-bottom: 6px #ffffff solid;
}
.service-header {
    padding-top: 68px;
    margin-left: 40px;
    letter-spacing: -0.2px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}
.service-about-1 {
    margin-left: 39px;
    margin-top: 27px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.15px;
}
.service-about-2 {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0;
}
.service-container {
    margin-left: 22px;
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
}
.service-item {
    display: flex;
    width: 300px;
    height: 91px;
    overflow: hidden;
    margin-left: 19px;
    align-items: flex-start;
    margin-top: 31px;
}
.service-item .item-about {
    margin-left: 19px;
}
.service-item .item-header {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
}
.service-item .item-text {
    width: 219px;
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-weight: 400;
    text-align: left;
    margin-top: 11px;
    margin-left: 2px;
    
}
.service-item .item-icon {
    margin-top: 3px;
}
#item1 .item-text-add{
    width: 219px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.1px;
}
#item1 .item-text {
    width: 223px;
    word-spacing: 4.8px;
}
#item2 .item-text {
    /*word-break: break-all;
    word-wrap: break-word;*/
    width: 220px;
    /*word-spacing: 5px;*/
    /*letter-spacing: 0.21px;*/
    line-height: 22px;

}
#item2 .item-text::first-line {
    letter-spacing: 0.15px;
    line-height: 21px;
    word-spacing: 0;
}
#item3 .item-header {
    margin-top: 1px;
    margin-left: 3px;
    letter-spacing: -0.1px;
}
#item3 .item-text {
    line-height: 21px;
}
#item4 .item-text {
    line-height: 21px;
}
#item5 .item-text {
    line-height: 21px;
}
#item6 .item-text {
    width: 226px;
    line-height: 21px;
}
#item6 .item-header {
    margin-left: 3px;
    margin-top: 0.5px;
    letter-spacing: -0.1px;
}